<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genius Time Slot Module - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Genius Time Slot Module", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li class="icon-top-menu-item"><i class="far fa-calendar-alt"></i><a href="@Url.Action("TimeSlot", "Home")">TimeSlots</a></li>*@
                    @if (User.IsInRole("Administrator") || User.IsInRole("CustomerAdmin"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                @if (User.IsInRole("Administrator"))
                                {
                                    <li class="icon-menu-item"><i class="fas fa-users"></i><a href="@Url.Action("Customers", "Admin")">Customers</a></li>
                                }
                                <li class="icon-menu-item"><i class="fas fa-sitemap"></i><a href="@Url.Action("Sites", "Admin")">Sites</a></li>
                                <li class="icon-menu-item"><i class="fas fa-car-side"></i><a href="@Url.Action("Fleets", "Admin")">Fleets</a></li>
                                <li class="icon-menu-item"><i class="fas fa-car"></i><a href="@Url.Action("Vehicles", "Admin")">Vehicles</a></li>
                                @if (User.IsInRole("Administrator"))
                                {
                                    <li class="icon-menu-item"><i class="fas fa-clock"></i><a href="@Url.Action("TimeSlots", "Admin")">Time Slots</a></li>
                                    <li class="icon-menu-item"><i class="fas fa-flag"></i><a href="@Url.Action("StatusTypes", "Admin")">Status Types</a></li>
                                }
                                <li class="icon-menu-item"><i class="fas fa-user-cog"></i><a href="@Url.Action("Users", "Admin")">Users</a></li>
                            </ul>
                        </li>
                    }
                    else if (User.IsInRole("Customer"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li class="icon-menu-item"><i class="fas fa-users"></i><a href="@Url.Action("Customers", "Admin")">Fleets</a></li>
                            </ul>
                        </li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="row">
                <div class="col-sm-6">
                    <img src="../../Images/genius_timeslot_logo_large.png" width="150" class="left" />
                </div>
                <div class="col-sm-6">
                    <div class="pull-right">&copy; @DateTime.Now.Year - Genius Time Slot Module</div>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
